{% extends 'base.html.twig' %}
{% block body %}
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ asset('IMG/connexion.jpg') }}" class="d-block w-100" alt="..."></div>
            </div>
        </div>

        <div class="form">
            <form>
                <div class="mb-3">
                    <label for="email" class="form-label">
                        Email address
                    </label>
                    <input type="email" class="form-control" id="email" name="email"></div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="password"></div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </form>
            {% endblock %}
